/* Extra small devices (portrait phones, less than 576px*/
@media (max-width: 575.98px) {

    /*header*/
    .logo-part-1{
        font-size: 30px;
    }
    .logo-part-2{
        font-size: 30px;
    }
    .banner{
        padding: 60px 0;
    }
    .banner-content h1{
        font-size: 30px;
        padding-bottom: 5px;
    }
    .banner-content p{
        font-size: 15px;
        padding-bottom: 20px;
    }
    .form-row-custom{
	    padding: 0 10px;
    }
    .form-custom{
        padding: 0 5px 10px;
    }
    .form-custom:last-of-type{
        padding: 0 5px 0;
    }
    .form-control-custom{
        margin: 0 !important;
    }
    .form-control-custom::placeholder{
        font-size: 14px;
    }
    .add-me-btn{
        font-size: 18px;
        padding: 7px 12px;
    }
    .add-me-content p{
        line-height: 20px;
        font-size: 15px;
    }

    /* banner */
    .banner{
        padding: 50px 0;
    }
    .banner-content h1{
        font-size: 40px;
        padding-bottom: 10px;
    }
    .banner-content p{
        padding-bottom: 25px;
    }
    .form-row-custom{
	    padding: 0 10px;
    }
    .form-custom{
        padding: 0 5px 10px;
    }
    .form-custom:last-of-type{
        padding: 0 5px 0;
    }
    .form-control-custom{
        margin: 0 !important;
    }

    /* features */
    .features{
        padding: 50px 0;
    }
    .features-content img{
        width: 20%;
    }
    .features-content h4{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .features-content p{
        padding-bottom: 30px;
        font-size: 14px;
    }
    .features-content-last-p{
        padding-bottom: 0 !important;
        font-size: 14px;
    }
    /* explore */
    .explore{
        padding: 60px 0;
    }
    .explore-content h2{
        font-size: 29px;
        padding-bottom: 16px;
    }
    .explore-content p{
        font-size: 14px;
    }
    .learn-more-btn{
        width: 160px;
	    height: 40px;
        font-size: 15px;
    }

    /* discover */
    .discover{
        padding: 35px 0;
    }
    .discover-content h3{
        font-size: 20px;
    }
    .discover-btn{
        width: 130px;
        height: 40px;
        margin-top: 12px;
        font-size: 15px;
    }

    /* slider */
    .slider{
	padding: 40px 0;
    }
    .slider-content i{
        font-size: 26px;
        color: #117486;
    }
    .slider-content p{
        font-size: 16px;
    }

    /* footer */
    .footer{
        padding: 15px 0;
    }
    .footer-content p{
        font-size: 11px;
        line-height: 16px;
    }

   
}