/* medium devices (tablets, 768px and up*/
@media (min-width: 768px) and (max-width: 991.98px) {
   /* banner */
   .banner{
    padding: 100px 0;
    }
   .banner-content h1{
    font-size: 40px;
    padding-bottom: 10px;
    }
    .banner-content p{
        padding-bottom: 30px;
    }
   .form-row-custom{
	padding: 0 5px;
    }
    .form-custom:last-of-type{
        padding: 0 5px 0;
    }
    .form-custom{
        padding: 0 5px 10px;
    }
    .form-control-custom{
        margin: 0 !important;
    }
    .add-me-btn{
        font-size: 18px;
        padding: 7px 12px;
    }

    /* features */
    .features{
        padding: 80px 0;
    }
    .features-content img{
        width: 37%;
    }
    
    /* explore */
    .explore{
        padding: 80px 0;
    }
    .explore-content h2{
        font-size: 38px;
        padding-bottom: 20px;
    }
    .learn-more-btn{
        font-size: 18px;
    }

    /* discover */
    .discover{
        padding: 40px 0;
    }
    .discover-content h3{
        font-size: 26px;
    }
    .discover-btn{
        width: 150px;
        height: 45px;
    }

    /* slider */
    .slider{
	padding: 60px 0;
    }

    /* footer */
    .footer{
        padding: 20px 0;
    }
    .footer-content p{
        font-size: 14px;
    }
}	